{
    "API_CONFIG": {
        "ENDPOINTS": {
            "realtime_url":"https://r.earth2.io/",
            "graphql_url":"https://app.earth2.io/graphql",
            "v2_url":"https://app.earth2.io/api/v2/"
        },
        "HEADERS": {
            "cookie": "", 
            "x-csrftoken": "", 
            "referer": "https://app.earth2.io/",
            "accept": "application/json",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en-US,en;q=0.9",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "origin": "https://app.earth2.io",
            "pragma": "no-cache",
            "sec-ch-ua": "'.Not/A)Brand';v='99', 'Google Chrome';v='103', 'Chromium';v='103'",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "Windows",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-origin",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36"
        }
    },
    "FORECASTING_CONFIG": {
        "YEARS":3,
        "DYNAMIC":{
            "YEAR_1": {
                "COMMENTS":["2020-2021","Initial release"],
                "REV_TOTAL_TILE_SALE_ALLOCATION_PERC":0.4,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.15,
                "EXP_BUGS":0.15,
                "EXP_SALARIES":500000,
                "EXP_OPERATIONAL":100000,
                "EXP_ACQUISITIONS":0
            },
            "YEAR_2": {
                "COMMENTS":["2021-2022","T2 Release","DRONE Acquisition"],
                "REV_TOTAL_TILE_SALE_ALLOCATION_PERC":0.4,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.1,
                "EXP_BUGS":0.1,
                "EXP_SALARIES":2500000,
                "EXP_OPERATIONAL":3500000,
                "EXP_ACQUISITIONS":1500000
            },
            "YEAR_3": {
                "COMMENTS":["2022-2023","AIR Gone"],
                "REV_TOTAL_TILE_SALE_ALLOCATION_PERC":0.15,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.025,
                "EXP_BUGS":0.025,
                "EXP_SALARIES":4500000,
                "EXP_OPERATIONAL":450000,
                "EXP_ACQUISITIONS":0
            },
            "YEAR_4": {
                "COMMENTS":["2023-2024","T3 Release", "DRONE Team leaves","It puts the lotion on its skin (Skin functionality released)"],
                "REV_TOTAL_TILE_SALE_ALLOCATION_PERC":0.05,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.025,
                "EXP_BUGS":0.025,
                "EXP_SALARIES":2500000,
                "EXP_OPERATIONAL":450000,
                "EXP_ACQUISITIONS":0
            }
        },
        "FLAT": {
            "REV_FEES":0.06,
            "EXP_LIT":0.035,
            "EXP_REF":0.1125
        }
    }
}