{
    "API_CONFIG": {
        "AUTH": {
            "IMPORTANT":"!!!!!DANGEROUS:  NEVER SHARE!!!!!",
            "COOKIE":"REDACT_NEVER_VERSION_CONTROL_IN_THIS_FILE",
            "X-CSRFTOKEN":"REDACT_NEVER_VERSION_CONTROL_IN_THIS_FILE"
        },
        "ENDPOINTS": {
            "realtime_url":"https://r.earth2.io/",
            "graphql_url":"https://app.earth2.io/graphql",
            "v2_url":"https://app.earth2.io/api/v2/"
        },
        "HEADERS": {
            "Referer": "https://app.earth2.io/",
            "Accept": "application/json",
            "Accept-Encoding": "gzip, deflate, br",
            "Accept-Language": "en-US,en;q=0.9",
            "Cache-Control": "no-cache",
            "Content-type": "application/json",
            "Origin": "https://app.earth2.io",
            "Pragma": "no-cache",
            "sec-ch-ua": "'.Not/A)Brand';v='99', 'Google Chrome';v='103', 'Chromium';v='103'",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "Windows",
            "Sec-Fetch-Dest": "empty",
            "Sec-Fetch-Mode": "cors",
            "Sec-Fetch-Site": "same-origin",
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
            "X-SnoopingAround": "If you enjoy learning how things work, have a look at earth2.io/careers and contact us. Mention this header."
        }
    },
    "FORECASTING_CONFIG": {
        "YEARS":4,
        "DYNAMIC":{
            "YEAR_1": {
                "COMMENTS":["2020-2021","Initial release"],
                "TOTAL_TILE_SALE_ALLOCATION_PERC":0.5,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.35,
                "EXP_BUGS":0.25,
                "EXP_SALARIES":700000,
                "EXP_OPERATIONAL":100000,
                "EXP_ACQUISITIONS":0,
                "EXP_TILE_UPGRADES":0
            },
            "YEAR_2": {
                "COMMENTS":["2021-2022","T2 Release","DRONE Acquisition"],
                "TOTAL_TILE_SALE_ALLOCATION_PERC":0.3,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.20,
                "EXP_BUGS":0.20,
                "EXP_SALARIES":2500000,
                "EXP_OPERATIONAL":1550000,
                "EXP_ACQUISITIONS":1500000,
                "EXP_TILE_UPGRADES":0
            },
            "YEAR_3": {
                "COMMENTS":["2022-2023","AIR Gone"],
                "TOTAL_TILE_SALE_ALLOCATION_PERC":0.15,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.08,
                "EXP_BUGS":0.08,
                "EXP_SALARIES":6000000,
                "EXP_OPERATIONAL":2450000,
                "EXP_ACQUISITIONS":0,
                "EXP_TILE_UPGRADES":0
            },
            "YEAR_4": {
                "COMMENTS":["2023-2024","T3 Release", "DRONE Team leaves","It puts the lotion on its skin (Skin functionality released)"],
                "TOTAL_TILE_SALE_ALLOCATION_PERC":0.05,
                "REV_SKINS":0.0,
                "EXP_FRAUD":0.045,
                "EXP_BUGS":0.045,
                "EXP_SALARIES":3000000,
                "EXP_OPERATIONAL":2000000,
                "EXP_ACQUISITIONS":0,
                "EXP_TILE_UPGRADES":540000
            }
        },
        "FLAT": {
            "REV_FEES":0.06,
            "EXP_LIT":0.035,
            "EXP_REF":0.1125
        }
    }
}